*{
font-family: monospace;
}

/*body{
background-color: #94bbe9;
}
*/
.logo{
    width:90px;
    height: 90px;
    border-radius: 50%;
    margin-left: 17px;
    background: radial-gradient(circle, rgba(19,92,117,1) 0%, rgba(148,187,233,1) 100%);
    float:left;
}

nav ul li{
    width: 21%;
    float:left;
    line-height: 70px;
    list-style: none;
    text-align: center;
    margin-right: -32px;
}

nav ul li a img{
    width: 50px;
    height: 50px;    
    margin-top: 10px;
}

nav ul li a{
    text-decoration: none;
    color: #000000;
}

nav li a:hover{
    height: 50px;
    color: #a08e8e;
}

.titulo{
    margin-bottom: 30px;
}

.cds{
    text-align: center;
    font-size: 16px;
}

.cs{
    text-align: center;
    font-size: 16px;
}

.frm input{
  width: 300px;

}

.info{
    font-size: 13px;
}

button{
    margin-left: 100px ;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

footer{
    width:100%;
    height: 80px;
    float: left;
    background-color: #3bb4d4;
    margin-top: 23px;
    }
    
    span{
    line-height: 90px;
    margin-left: 400px;
    }