*{
font-family: monospace;
}

/*body{
background-color: #94bbe9;
}
*/
.logo{
    width:90px;
    height: 90px;
    border-radius: 50%;
    margin-left: 17px;
    background: radial-gradient(circle, rgba(19,92,117,1) 0%, rgba(148,187,233,1) 100%);
    float:left;
}

nav ul li{
    width: 21%;
    float:left;
    line-height: 70px;
    list-style: none;
    text-align: center;
    margin-right: -32px;
}

nav ul li a img{
    width: 50px;
    height: 50px;    
    margin-top: 10px;
}

nav ul li a{
    text-decoration: none;
    color: #000000;
}

nav li a:hover{
    height: 50px;
    color: #a08e8e;
}

.frete{
    width: 100%;
    text-align: center;
    float: left;
}

.pg{
    font-size: 18px;
}

.pag{
    width: 100%;
    text-align: center;
    float: left;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 18px;
    color: #1C2833;
}

.pro{
    width: 100%;
    text-align: center;
    float: left;
    margin-top: 3   0px;
}

.prod{
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 140px;
    margin-bottom: 20px;
    background-color: #3bb4d4;
}

.nm{
    font-size: 15px;
    float: left;
    margin-left: 45px;
}

.preco{
    font-size: 15px;
    margin-right: 160px;
    line-height: 40px;
}

.rem{
    width: 70px;
    height: 30px;
    float: left;
    margin-left: 45px;
}

.res{
    width: 100%;
    text-align: center;
    float: left;
}

.desc{
    font-size: 15px;
    float: left;
    margin-left: 45px;
}

.vl{
    font-size: 15px;
    line-height: 36px;
    text-align: right;
    margin-right: 26px;
}

.env{
    width: 200px;
    height: 40px;
}

footer{
width:100%;
height: 80px;
margin-top: 10px;
float: left;
background-color: #3bb4d4;
}

span{
line-height: 80px;
margin-left: 400px;
}