*{
font-family: monospace;
}

/*body{
background-color: #94bbe9;
}
*/
.logo{
    width:90px;
    height: 90px;
    border-radius: 50%;
    margin-left: 17px;
    background: radial-gradient(circle, rgba(19,92,117,1) 0%, rgba(148,187,233,1) 100%);
    float:left;
}

nav ul li{
    width: 21%;
    float:left;
    line-height: 70px;
    list-style: none;
    text-align: center;
    margin-right: -32px;
}

nav ul li a img{
    width: 50px;
    height: 50px;    
    margin-top: 10px;
}

nav ul li a{
    text-decoration: none;
    color: #000000;
}

nav li a:hover{
    height: 50px;
    color: #a08e8e;
}

.titulo{
    color: #000000;
    text-align: center;
}

.container{
width:100%;
height:960px;
margin-top: 20px;
float:left;
}

.conteudo{
width:200px;
height: 200px;
margin-left: 100px;
margin-top: 50px;
background-color: #3bb4d4;
text-align: center; 
line-height: 100px;
float: left;
}

.prifericos{
    font-size: 15px;
}

footer{
width:100%;
height: 80px;
float: left;
background-color: #3bb4d4;
}

span{
line-height: 90px;
margin-left: 400px;
}